.register{
    margin: 100px auto;
    text-align: center;
}
.row{
    width: 100%;
    height: 50px;
    position: relative;
    top:50%;
    transform:translateY(-50%);
}
.text{
    width: 20%;
    height: 100%;
    text-align: right;
    float: left;
    line-height: 50px;
}
.registerForm{
    width: 30%;
    height: 100%;
    text-align: left;
    float: left;
}
input{
    width: 30%;
    position: absolute;
    top: 50%;
    transform: translateY(-49%);
}
.imageCode{
    width: 30%;
    height: 100%;
    text-align: left;
    float: left;
}
img{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

