<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--2. 全局配置参数 -->
    <settings>
        <!--使用LOG4J2显示sql日志-->
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <!--<typeAliases>
        <package name="domain"/>
    </typeAliases>-->


</configuration>