<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 1.properties属性引入外部配置文件 -->
    <properties resource="druid.properties"/>

    <!--2. 全局配置参数 -->
    <settings>
        <!-- 设置是否启动缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 设置是否启用懒加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--使用LOG4J2显示sql日志-->
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <!-- 7.environments数据库环境配置 -->
    <!-- 和Spring整合后environments配置将配废除 -->
    <environments default="mysql">
        <environment id="mysql">
            <!-- 使用JDBC事务管理 -->
            <transactionManager type="JDBC" />
            <!-- 数据库连接池 -->
            <dataSource type="utils.druid.DruidDataSourceFactory">
                <property name="driverClass" value="${driver}"/>
                <property name="jdbcUrl" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 将包内的映射器接口实现全部注册为映射器 -->
    <mappers>
        <package name="dao.mapper"/>
    </mappers>

</configuration>